@model IEnumerable<Domain.Entity.Chat>

<h3>Open Chats</h3>

@foreach (var chat in Model)
{
    <a asp-controller="Home" asp-action="JoinChat" asp-route-id="@chat.Id" class="w3-card-12 w3-button w3-padding-large w3-dark-grey w3-hover-black">
        <p> @chat.Name</p>
    </a>
}